@use "../base/palette";

.app-header {
    // Colour, opacity, blur
    background-color: palette.$background-light-translucent;
    backdrop-filter: blur(12px);

    position: fixed;
    top: 0;

    // Dimensions
    width: 100%;
}