@use "../base/structural";

#app-body {
    min-height: 900px; // For testing scroll behaviour 
}

@media (min-width: 768px) {
    #app-body {
        display: grid;
        grid-template-columns: 50% 50%;

        :nth-child(odd) {
            height: 100%;
            border-right: structural.$border-outline;
        }
    }

}