@use "../base/structural";

#app-body {
    min-height: 900px; // For testing scroll behaviour 
}

@media (min-width: 768px) {
    #app-body {
       display: flex;
       
        // Previous grid system
        /* display: grid;
        grid-template-columns: auto minmax(0, 720px);*/

        /*:nth-child(odd) {
            height: 100%;
            border-right: structural.$border-outline;
        }*/  // Removed for now
    }

}