@use "../base/palette";

.app-header {
    // Colour, opacity, blur
    background-color: palette.$background-light-translucent;
    backdrop-filter: blur(12px);

    // Absolute, was sticky before, consider sticky if/when I make page scrollable
    position: absolute;
    top: 0;

    // Dimensions
    width: 100%;
}