@use "../base/palette";

.button {
    background-color: $orange-accent;
    font-size: 36px;
    color: $shadow-outline;
    padding: 8px 16px;
    border-radius: 99px;
    outline: 2px solid $shadow-outline;
    display: inline-block;
    width: fit-content;
}

.contact-button {
    position: fixed;
    bottom: 56px;
    left: 56px;
}