.hero-text-container {
    // Take up as much space as possible in parent flex container
    //flex: 1;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;

    // For layout inside
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 72px;
    text-wrap: balance;
    gap: 48px;

    // Contents by inheritance
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .hero-text-container {
        font-size: 18px;
        padding: 16px;
    }
}
@media only screen and (max-width: 400px) {
    .hero-text-container {
        font-size: 14px;
    }
}