@use "../base/structural";

#hero-section {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    border-bottom: structural.$border-outline;
}

@media (min-width: 768px) {
    #hero-section {
       display: flex;
       
        // Previous grid system
        /* display: grid;
        grid-template-columns: auto minmax(0, 720px);*/

        /*:nth-child(odd) {
            height: 100%;
            border-right: structural.$border-outline;
        }*/  // Removed for now
    }

}