@use "../base/structural";

#hero-section {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    border-bottom: structural.$border-outline;
}

.hero-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; // Might need to be removed + adding a margin when readding nav bar
    padding: 54px 48px;
}

@media (min-width: 768px) {
    #hero-section {
       display: flex;
       
        // Previous grid system
        /* display: grid;
        grid-template-columns: auto minmax(0, 720px);*/

        /*:nth-child(odd) {
            height: 100%;
            border-right: structural.$border-outline;
        }*/  // Removed for now
    }

}