@use '../base/palette';

.navlink-container {
    cursor: crosshair;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.navlink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
}
.navlink-icon  {
    color: palette.$orange-accent;
}
.navlink::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: palette.$orange-accent;
    border-radius: 8px;
    -webkit-transform: scaleX(0) scaleY(0.45) translate(10%, 75%);
    transform: scaleX(0) scaleY(0.45) translate(10%, 75%);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.navlink:hover:before, .navlink:focus:before, .navlink:active:before {
    -webkit-transform: scaleX(1.15) scaleY(0.45) translate(10%, 75%);
    transform: scaleX(1.15) scaleY(0.45) translate(10%, 75%);
  }