@use "../base/structural";

.navbar {
    padding: 12px;
    border-top: structural.$border-outline;
    border-bottom: structural.$border-outline;
    flex-shrink: 0;
    ul {
        display: flex;
    }

    li {
    padding: 0px 24px;
    font-size: 24px;
    }
}