.portrait {
    // Image + placement
    background-image: url("../../assets/img/portrait.png");
    background-size: cover;
    background-position: center bottom;

    // Shape + size
    border-top-left-radius: 10rem;
}