@use '../base/structural';

@media only screen and (min-width: 600px) {
.portrait {
    // Image + placement
    background-image: url("../../assets/img/portrait.png");
    background-size: cover;
    background-position: center bottom;

    // Shape + size
    border-top-left-radius: 10rem;
    //border-bottom-right-radius: 10rem;
    width: min(720px, 33.33vw);
    //height: 120vh;

    // Other 
    border: structural.$border-outline;
}
}
