@use '../base/structural';

.project-card {
    // Size & layout
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 862px;
    overflow: hidden;
    // Border
    border-radius: 32px;
    border: structural.$border-outline;
}
.project-card-text-container {
    padding: 32px;
}

.project-card-image-container {
    //width: 100%;
    overflow: hidden;
}

.project-card-image {
    width: 100%;
    overflow: hidden;
}