@use "../base/palette";

#projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-list-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}