@use '../base/palette';

#title {
    font-family: 'Chubby and Groovy';
    font-weight: normal;
    font-size: 96px;

    color: palette.$orange-accent;
    text-shadow: 2px 4px 0 palette.$green-accent;

    text-align: center;
    padding: 24px;
  }

  .title-container {
    width: 100%;
  }