@use '../base/palette';

#title {
    font-family: 'Eckmannpsych';
    font-weight: normal;
    font-size: 160px;
    height: 160px;

    color: palette.$orange-accent;
    text-shadow: 2px 4px 0 palette.$green-accent;

    text-align: center;
    padding: 0;
  }

  .title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }