@font-face {
    font-family: Margin;
    src: url('../../assets/fonts/Margin\ DEMO.otf');
  }

@font-face {
    font-family: 'Chubby and Groovy';
    src: url('../../assets/fonts/Chubby\ And\ Groovy.ttf');
}

@font-face {
  font-family: 'Cheee Crimer';
  src: url('../../assets/fonts/OH\ no\ Type\ Company\ Trials\ 4830d1b2-67e2-4f96-ba41-09f63b5e0291/Cheee/CheeeDemo-Crimer.otf');
}

@font-face {
  font-family: 'Cheee Jimbo';
  src: url('../../assets/fonts/OH\ no\ Type\ Company\ Trials\ 4830d1b2-67e2-4f96-ba41-09f63b5e0291/Cheee/CheeeDemo-Jimbo.otf');
}

@font-face {
  font-family: 'Cheee Schemer';
  src: url('../../assets/fonts/OH\ no\ Type\ Company\ Trials\ 4830d1b2-67e2-4f96-ba41-09f63b5e0291/Cheee/CheeeDemo-Schemer.otf');
}

@font-face {
  font-family: 'Cheee Sticky';
  src: url('../../assets/fonts/OH\ no\ Type\ Company\ Trials\ 4830d1b2-67e2-4f96-ba41-09f63b5e0291/Cheee/CheeeDemo-Sticky.otf');
}

@font-face {
  font-family: 'Eckmannpsych';
  src: url('../../assets/fonts/OH no Type Company Trials 4830d1b2-67e2-4f96-ba41-09f63b5e0291/Eckmannpsych/Eckmannpsych-Demo-Medium.otf')
}