// OPEN SAUCE TWO
@font-face {
  font-family: 'Open Sauce Two';
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/OpenSauceTwo/OpenSauceTwo-Regular.ttf')
}
@font-face {
  font-family: 'Open Sauce Two';
  font-weight: bold;
  font-style: normal;
  src: url('../../assets/fonts/OpenSauceTwo/OpenSauceTwo-Bold.ttf')
}
@font-face {
  font-family: 'Open Sauce Two';
  font-weight: normal;
  font-style: italic;
  src: url('../../assets/fonts/OpenSauceTwo/OpenSauceTwo-Italic.ttf')
}

// ECKMANNPSYCH 

@font-face {
  font-family: 'Eckmannpsych';
  src: url('../../assets/fonts/Eckmannpsych/Web/Eckmannpsych-Medium.ttf');
  src: url('../../assets/fonts/Eckmannpsych/Web/Eckmannpsych-Medium.woff') format("woff"),
  url('../../assets/fonts/Eckmannpsych/Web/Eckmannpsych-Medium.woff2') format("woff2");
}